@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

header {
    background-color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header img.fons {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

nav {
    background-color: #444;
    padding: 15px 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: #f5c542;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

nav a:hover {
    background-color: #666;
    border-radius: 5px;
}

aside {
    text-align: center;
    width: 15%;
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

aside a {
    display: block;
    color: #f5c542;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

aside a:hover {
    background-color: #666;
    border-radius: 5px;
}

section {
    padding: 30px;
    background: #2a2a2a;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 2px;

}

article {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

article h3 {
    color: #f5c542;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

article h3:nth-child(3) {
    text-align: left;
    font-size: 20px;
}

article p {
    color: #e6e6e6;
    font-size: 16px;
    margin-bottom: 20px;
}

article ul {
    color: #e6e6e6;
    margin-left: 20px;
}

article img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 333px;
    max-height: 600px;
    object-fit: contain;
    margin-top: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 16px;
}